.modal__button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.modal__input-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.modal__input:required {
  border-color: #ccc;
}

.modal__input:required:invalid {
  border-color: red;
}

.modal__label {
  margin-bottom: 24px;  
  display: block;
}

.avatar-preview {
  margin-bottom: 24px;  
}
