.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  padding: 28px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}

.modal__body {
  font-size: 16px;
}

.modal__buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.modal__submit-button {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #000000;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal__submit-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.modal__switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00000080;
}

.modal__switch-link {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0 0;
  color: rgba(0, 0, 0, 0.5);
}
