.modal__content_type_confirmation {
  max-width: 550px;
  width: 100%;
  padding: 28px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 16px;
}

.modal__confirmation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__confirmation-message {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 40px;
}

.modal__confirmation-buttons {
  gap: 12px;
  width: 100%;
}

.modal__confirmation-buttons_rows{
    text-align: center;
    margin: 0 0 10px;
}

.modal__confirmation-button {
  flex: 1;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.modal__confirmation-button_type_cancel {
  background-color: transparent;
  color: black;
}

.modal__confirmation-button_type_cancel:hover {
    background-color: #f7f2f2;
  }

.modal__confirmation-button_type_confirm {
  background-color: white;
  color: #FF4D00;
}

.modal__confirmation-button_type_confirm:hover{
    background-color: #f7f2f2;
}

.modal__confirmation-button:hover {
  opacity: 0.8;
}