.modal__radio-group {
  display: flex;
  flex-direction: column; 
  gap: 8px;  
  margin-top: 8px;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modal__radio-label input[type="radio"] {
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.modal__preview {
  margin-top: 24px;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.avatar-preview {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.modal__button{
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal__button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}