.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
width: 100%;
height: 100%;
object-fit: cover; 
}

p.cards__weather {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 10px;
}

li.cards__item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 325px;
  height: 328px;
}

.cards__item {
width: 100%;
height: 100vh; 
}

p.cards__name {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
}

p.cards__name span {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}
