@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/src/assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700; 
  background-color: #F3F3F3;
}
button {
  font-family: "Cabinet Grotesk", sans-serif;
  background: #000;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  width: max-content;
}
button:hover {
  background: #000000ab;
} 

.app {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", sans-serif;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 32px;          
  border-radius: 20px;    
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 100%;
  max-width: 480px;     
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);  
  z-index: 1000;
}
