.sidebar {
  min-width: 330px;
}

.sidebar__user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.change{
  width: 100%;
  text-align: start;
  margin: 20px 0px;
}

.sign-out{
  padding: 0px;
}