.modal-container {
  position: relative;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  width: 100%; 
}

.modal__input:focus {
  outline: none;
  border-bottom-color: #000000;
}

.modal__input::placeholder {
  color: #808080;
  font-weight: 500;
}

.modal__input_error {
  border-bottom: 2px solid #ff4d4d;
}

.modal__error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 8px;
}

.modal__button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal__button:disabled {
  background: #d3d3d3;
  color: #fff;
  cursor: not-allowed;
}

.modal__switch-container {
  display: flex;
  flex-direction: row;
}




.modal__switch-link:hover {
  opacity: 0.6;
}


.modal__switch-link strong {
  color: #000; 
  text-decoration: none;
  margin-left: 4px;
}

.modal__switch-link:hover strong {
  opacity: 0.6;
}

